extends layout

block content
	p UPLOADING TO SHAPEWAYS
	i(class="fa fa-cube fa-spin fa-5x")
	i(class="fa fa-cube fa-spin fa-3x" style="-webkit-animation-direction: reverse; -moz-animation-direction: reverse; -o-animation-direction: reverse; animation-direction: reverse;")
	i(class="fa fa-cube fa-spin fa-4x")